#!/bin/zsh
alias vim='nvim'
alias als='vim ~/.aliases'
alias sshcf='vim ~/.ssh/config'


# ----------
# Dir
# ----------
alias hyperconfig='vim ~/.hyper.js'
alias dd='cd ~/Develop'
alias ed='cd ~/Edu'
alias mmd='cd ~/mmd'
alias dotfiles='cd ~/personal/dotfiles'


# ----------
# Conda
# ----------
alias jn='jupyter notebook'

# ----------
# Gatsby
# ----------
alias gsbd='gatsby develop'
alias gdbc='gatsby clean'
alias gsbb='gatsby build'


# ---------
# Zsh
# ---------
alias zcf='vim ~/.zshrc'
alias zpf='vim ~/.zprofile'

# ---------
# Neovim
# ---------
alias vcf='nvim ~/.vimrc'
alias vimclean='rm $HOME/.config/nvim/viminfo'

# ---------
# Utils
# ---------
alias cleanvt='sudo rm /var/log/asl/*.asl'
alias R='ranger'

# Bash
alias bp='vim ~/.bash_profile'
alias srcbp='source ~/.bash_profile'
alias bsh='vim ~/.bashrc'
alias srcbsh='source ~/.bashrc'
alias prof='vim ~/.profile'
alias srcprof='source ~/.profile'

# Ruby
alias rs='be dotenv -f ".env.local,.env" rails s'
alias irb='pry'
alias be='bundle exec'
alias jobs='bin/rake jobs:work'

# --------
# Network
# --------
alias myip='dig myip.opendns.com @resolver1.opendns.com'

# ----------
# Node
# ----------
alias nr='npm run'
alias nrs='npm run start'
alias ni='npm install'
alias nig='npm install -g'
alias nid='npm install -D'
alias nip='npm install --only=prod'


# ----------
# Npm Quick
# ----------
alias check='npx npm-check'

# ----------
# Yarn
# ---------

alias ys='yarn start'
alias ya='yarn add'
alias yad='yarn add --dev'
# ---------
# Python
# ---------
alias venv='virtualenv -p /usr/local/bin/python3 .venv'
alias vac='source venv/bin/activate'

# --------
# Git
# --------
alias gitconfig='vim ~/.gitconfig'
alias srcgitconfig='source ~/.gitconfig'

# -------
# ngrok
# -------
alias ngrok='ngrok http 7337'

